
@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends</h2>

<div class="Fcontainer">
    <div class="frame">
        <div class="Firends">
            Hej
        </div>
    </div>

    <div class="frame">
        <div class="Settings">
            hej
        </div>
    </div>
</div>

